
<div class="menu">
	<div class="menu_container d-flex flex-column align-items-center justify-content-center">

		<!-- Menu Navigation -->
		<nav class="menu_nav text-center">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="about">About us</a></li>
				<li><a href="rooms">Rooms</a></li>
				<li><a href="blog">News</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</nav>
		<div class="button menu_button"><a href="#">book now</a></div>

		<!-- Menu Social -->
		<div class="social menu_social">
			<ul class="d-flex flex-row align-items-center justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
			</ul>
		</div>

	</div>
</div>
